body{
    margin: 0;
    z-index: -100;]
}
.parent{
    width: 100%;
    height: auto;
    z-index: -100;
    display: flex;
}
.header{
    width: 100%;
    position: relative;
    height: 56px;
    padding: 0px 110px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    /* box-shadow: 0px 3px 50px -5px gray; */
}
.icon{
    /* width: 1em; */

    height: 1em;
}
.header ul{
    
    text-align: center;
      height: 100%;
      padding: 0%; 
      margin: 0%;
      display: flex;
      align-items: center;
}
.header ul div,
.header li{
    cursor: pointer;
    width: 10%;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: center;
    /* float: right; */
    /* text-align: left; */
    list-style-type: none;
    border-radius: 10px;

} 
.header ul div span {
    padding-top: 0px;
    padding-bottom: 10px;

}
.header ul div:hover,
.header li:hover{

    background-color: aquamarine;
}

.header ul span i{
    font-size: 20px;
    justify-content: center;
    color: gray;
}
.header ul li i{
    font-size: 25px;
    padding-top: 15px;
    justify-content: left;
    color: gray;
}
.search{
    width: 30%;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    bottom: 0%;
    font-family: verdana;
    display: flex;
    z-index: 3;
    margin-top: 5px;
}
.header_right{
    width: 23%;
    position: absolute;
    text-align: center;
    top: 7px;
    right: 0%;
    bottom: 0%;
    padding-right: 16px;
    padding-left: 4px;
}
.header_right div span:hover{
    cursor: pointer;
}
input{
    border-radius: 50px;
}
.input1{
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(231, 229, 229);
    width: 245px;
    height: 45px;
    cursor: auto;
}
.input_icon{
    position: relative;
}
.input_icon i{
    position: absolute;
  left: 0;
  top: 14px;
  padding-left: 13px;
  color: #aaa;
  transition: 0.3s;
}
.img1 {
    margin-top: 0px;
    height: 35px;
    cursor: pointer; /*for pointing at objects*/
}
.input1:focus {  /* to make image disappear on focus */
    background-image: none; 
    text-indent: 0px;
}
.header_right img{
    /* font-size: 40px; */
    position: absolute;
     left: 0px;
     top: 0;
     bottom: 0;
    border-radius: 100%;
}
.background{
    width: 100%;
    margin: 0px;
    padding-top: 56px;
    position: relative;
    height: 350px;
    background-color: white;
    z-index: -3;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(rgb(207, 202, 202)10%, white 60%,white);
}
.cover_img{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    z-index: -1;
    width: 940px;
    height: 348px;
    object-fit: none;
    border-radius: 8px;
}
.name_facebook{
    position: relative;
    width: 100%;
    height: 120px;
    padding-top: 0px;
    margin: 0px;
    padding-bottom: 16;
    z-index: 2;
    background-color: white;
    bottom: 0px;
}
.name_facebook2{
    position: absolute;
    width: 864px;
    margin: -6px auto;
    padding-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    height: 83px;
    top:0px;
    left: 0%;
    right: 0%;

    justify-content: center;
}
.name_facebook3{
    position: absolute;
    width: 169px;
    height: 71px;
    padding: 6px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    
}
.name_facebook2 h1{
    align-items: center;
    color: #050505;
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    text-align: center;
}
.avatar_facebook{
    width: 176px;
    height: 176px;
    position: absolute;
    border-radius: 100%;
    object-fit: fill;
    bottom: -4px;
    z-index: 10;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}
.avatar_facebook img{
    border-radius: 100%;
    width: 168px;
    height: 168px;
    border: 4px solid white;
}
.information{
    width: 100%;
    height: 60px;
    position: relative;
}
.information1{
    width: 876px;
    height: 60px;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    /* background-color: aliceblue; */
    padding: 0px 16px;
    border-top: 1px solid rgb(180, 174, 174);
}
.menu1{
    width: 70%;
    float: left;
    height: 100%;

}
.menu1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.menu1 ul li{
    position: relative;
    height: 60px;
    float: left;
    border-radius: 5px;
}
.menu1 ul li a{
    width: 40px;
    display: inline-block;
    text-decoration: none;
    padding: 0 16px;
    padding-top:20px ;
    text-align: center;
    color: rgb(101, 103, 107);
cursor: pointer;
direction: ltr;
font-size: 15px;
font-weight:600;
}
.menu1 ul li:hover{
    background-color: aquamarine;

}
.menu2{
    width: 30%;
    float: right;
    height: 100%;
    position: relative;
}


